html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    cursor: url('./images/pointer.png'), auto;
}

canvas {
    width: 100%;
    height: auto;
    background: #111;
}

#valentinesButton {
    display: none;
    position: absolute;
    background-color: #2d2dff;
    border: 2px solid #2d2dff;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 10px;
    top: calc(50% + 150px); /* Adjust based on canvas height and text position */
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  #valentinesButton:hover {
    background-color: #1f1faa;
    color: #eee;
}
#fireworks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .firework {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #e9e9e9;
    border-radius: 50%;
    animation: explode 1s forwards;
  }
  
  @keyframes explode {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(4);
      opacity: 0;
    }
  }